<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Admin</span>
    <span class="example-fill-remaining-space"></span>
    <button mat-raised-button color="accent" (click)="logout()">Logout</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    Add Location & Add Car
  </mat-toolbar-row>
</mat-toolbar>
<br>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card fxFlex="50" class="card">
    <mat-card-header>
      <h3>Add Location</h3>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field >
        <mat-label>Location Country</mat-label>
        <input matInput formControlName="locationCountry" required placeholder="Location Country">
        <mat-error *ngIf="locationCountryControl.hasError('required')">Please choose a location country</mat-error>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Location City</mat-label>
        <input matInput formControlName="locationCity" required placeholder="Location City">
        <mat-error *ngIf="locationCityControl.hasError('required')">Please choose a location city</mat-error>
      </mat-form-field>
      <br>
      <agm-map [latitude]="latStart" [longitude]="lngStart" (mapClick)=onChoseLocation($event)>
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
      <br><br>
      <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input formControlName="latitude" matInput placeholder="Latitude" [value]="lat" [disabled]="true">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Longitude</mat-label>
        <input formControlName="longitude" matInput placeholder="Longitude" [value]="lng" [disabled]="true">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Add Location</button>
    </mat-card-actions>
  </mat-card>
</form>

<br>
<form [formGroup]="form2" (ngSubmit)="onSubmit_Car()">
  <mat-card fxFlex="50" class="card">
    <mat-card-header>
      <h3>Add Car</h3>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field >
        <mat-label>Car name</mat-label>
        <input matInput formControlName="carName" required placeholder="Car Name">
        <mat-error *ngIf="carNameControl.hasError('required')">Please choose a car name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select location</mat-label>
        <mat-select formControlName="location" required [compareWith]="compareFn">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let location of locations$ | async" [value]="location">
            {{location.country}} - {{location.city}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="locationControl.hasError('required')">Please choose a Location</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary" [disabled]="!form2.valid">Add Car</button>
    </mat-card-actions>
  </mat-card>
</form>