<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Car Rental</span>
    <span class="example-fill-remaining-space"></span>
    <button mat-raised-button color="accent" (click)="logout()">Logout</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    Order a car!
  </mat-toolbar-row>
</mat-toolbar>
<br>
<table mat-table [dataSource]="orders | async" class="table" >

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category</th>
    <td mat-cell *matCellDef="let element"> {{element.category.name}}</td>
  </ng-container>

  <ng-container matColumnDef="fromDate">
    <th mat-header-cell *matHeaderCellDef> From</th>
    <td mat-cell *matCellDef="let element"> {{element.fromDate | date:'dd.MM.yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="toDate">
    <th mat-header-cell *matHeaderCellDef> To</th>
    <td mat-cell *matCellDef="let element"> {{element.toDate | date:'dd.MM.yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Location</th>
    <td mat-cell *matCellDef="let element"> {{element.location.country}} - {{element.location.city}}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price</th>
    <td mat-cell *matCellDef="let element"> {{element.price}} {{element.currency}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<br>
<br>

<app-map [locations]="locations$ | async" (onLocationSelected)="locationSelected($event)"></app-map>


<br>
<br>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card fxFlex="50" class="card">
    <mat-card-header>
      <h3>Order</h3>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>Select currency</mat-label>
        <mat-select formControlName="currency" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{currency.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="currencyControl.hasError('required')">Please choose a currency</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select location</mat-label>
        <mat-select formControlName="location" required [compareWith]="compareFn">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let location of locations$ | async" [value]="location">
            {{location.country}} - {{location.city}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="locationControl.hasError('required')">Please choose a Location</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select category</mat-label>
        <mat-select formControlName="category" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let category of (categories | async)" [value]="category">
            {{category.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoryControl.hasError('required')">Please choose a category</mat-error>
      </mat-form-field>
      <h4>From:</h4>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="fromDate" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <h4>To:</h4>
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" formControlName="toDate" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-checkbox formControlName="includesInsurance">Insurance</mat-checkbox>
      <h3>Price:</h3>
      <div *ngIf="calculatedOrder | async as order">
        {{(order.price)}} {{getCurrency(order.currency)}}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="calculatePrice()" type="button" mat-raised-button color="primary" [disabled]="!form.valid">
        Calculate
      </button>
      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Order</button>
    </mat-card-actions>
  </mat-card>
</form>
