.table{
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}

.card{
  margin-left:auto;
  margin-right:auto;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
