<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Car Rental</span>
    <span class="example-fill-remaining-space"></span>
    <a mat-raised-button color="accent" routerLink="/registration">Registration</a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    Login
  </mat-toolbar-row>
</mat-toolbar>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="card">

    <mat-card fxFlex="50">
      <mat-card-header>
        <h3>Login</h3>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput fxFlex placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput fxFlex placeholder="Password" formControlName="password">
        </mat-form-field>
      </mat-card-content>
      <div *ngIf="failure">
        <mat-divider></mat-divider>
        Username or Password incorrect!
        <a routerLink="/registration">Do you already have an account?</a>
      </div>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
