.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -128px;
  height: 100%;
}
