<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Car Rental</span>
    <span class="example-fill-remaining-space"></span>
    <a mat-raised-button color="accent" routerLink="/login">Login</a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    Registration
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card class="card" fxFlex="50">
    <mat-card-header>
      <h3>Register to book a fabulous car!</h3>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput fxFlex placeholder="Username" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput fxFlex placeholder="Password" formControlName="password">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput fxFlex placeholder="Password validation" formControlName="passwordSecond" [errorStateMatcher]="matcher"> 
        <mat-error *ngIf="form.hasError('notSame')">
          Passwords do not match!
        </mat-error>  
      </mat-form-field>
      <mat-form-field>
        <input matInput fxFlex placeholder="First Name" formControlName="firstName">
      </mat-form-field>
      <mat-form-field>
        <input matInput fxFlex placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
      <mat-form-field>
        <input matInput fxFlex placeholder="Mail" formControlName="mail">
      </mat-form-field>

      <div *ngIf="registrationStatus$ | async">
        <mat-divider></mat-divider>
        Congratulations you successfully registered!
        <a routerLink="/login">Please log in now!</a>
      </div>
      <div *ngIf="!(registrationStatus$ | async) && requestSent">
        <mat-divider></mat-divider>
        An Error occurred during registration please try again!
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
