<agm-map [fitBounds]="true">
  <agm-marker *ngFor="let marker of locations" [latitude]="marker.latitude" [longitude]="marker.longitude" [agmFitBounds]="true" (markerClick)="markerClicked(marker)"></agm-marker>
</agm-map>  <div id="map"></div>
