/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html{
  height: 100%;
}

body{
  margin: 0;
  background-color: #4A4A4A;
  height: 100%;
}


